# Ignore all .c files
*.c linguist-vendored

# Ignore all files within the build/CMake directory (including subdirectories)
build/CMake/** linguist-vendored

# Ignore all files within the include directory (including subdirectories)
include/** linguist-vendored